.commandes-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 commandes par ligne */
    gap: 20px; /* Espacement entre les commandes */
}

.commande-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.commande-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.commande-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 10px;
}

.commande-item p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: darkred;
}

.not-commandes {
    text-align: center;
    color: #01579b;
    font-size: 1.5rem;
    margin-top: 20px;
}
.validate-button{
    background-color: rgb(60, 230, 60);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
/* Style par défaut pour le bouton valider */
.validate-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.validate-button:hover {
    background-color: var(--secondary-color);
}

/* Couleur spécifique pour le bouton 'non_confirme' */
.non-confirme-button {
    background-color: rgb(60, 230, 60); /* Couleur personnalisée pour le bouton 'non confirmé' */
    color: white;
}

.non-confirme-button:hover {
    background-color: rgb(60, 230, 60);
}

