.credit-card-container {
    background-color: #007BFF;
    border-radius: 12px;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit-card-content {
    display: flex;
    align-items: center;
}

.credit-icon {
    font-size: 48px;
    color: #fbc02d; /* Couleur dorée pour l'icône des crédits */
    margin-right: 15px;
}

.credit-amount {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
}

.credit-description {
    color: white    ;
    font-size: 14px;
}
