.post-item-container {
    max-width: 714px;
    margin: 0 auto;
}

.user-image {
    width: 40px;
    height: 40px;
}

.btn-icon {
    background: none;
    border: none;
}

.post-media {
    max-height: 600px;
    overflow: hidden;
}

.post-footer a {
    color: #262626;
    font-size: 14px;
}
