.stories-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}

.stories-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Allows stories to scroll behind */
    background: rgba(255, 255, 255, 0.8); /* Optional background for separation */
}

.stories-container::-webkit-scrollbar {
    height: 8px;
}

.stories-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
