.story-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image remplit bien le conteneur sans déformation */
    border-radius: 10px;
}

.story-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 10px;
    border-radius: 50px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-name {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
